// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


/* Nustatome pagrindinį foną ir šriftą */

body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Antraštės stilius */

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}



/* Mėlynos ir raudonos elementų spalvos */

.blue {
    color: #00f;
}

.red {
    color: #f00;
}

/* Nuorodų stiliai */

a {
    color: #00f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



